*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.pageOne{
    background-image: url(image/HeroImage.svg);
    width: 100%;
    background-size: cover;
    height: 980px;
    margin: auto;

}
    header{
        max-width: 1200px;
        margin: 0 auto;
        padding: 30px 16px;
        display: flex;
        align-items: center;
        justify-content: space-around;

    }
.text{
 color: aliceblue;
    display: flex;
    gap: 50px;
}
.logo img{
    width: 100px;
    height: 34px;
}
.en{
    font-weight: bold;
    color: black;
    font-size: small ;
    width: 20px;
    height: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
   padding: 10px;
}
.hero{
  position: relative;
  height: 100vh;
  
}

.words{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -70%);
  text-align: center;
  color: white;
  font-size: 50px;
  
}

.Location{
    background-image: url(image/Location.svg);
    height: 512px;
    width: 100%;
    padding: auto;
}

.cart img{
    height: 370px;
    width: 275.49px;
    border: 10px;
    border-radius: 20px;
    box-shadow: 4px 4px;
}