
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f2f2f2;
  color: #222;
}


.header {
  background: url('images/header-bg.jpg') center/cover no-repeat; /* header-ийн ард зураг */
  border-bottom: 1px solid #ddd;
}

.header-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logo img {
  height: 60px;
  display: block;
}

