* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 65%;
  background-color: white;
}
