* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.page1 {
  background-image: url("img/HeroImage.png");
  background-size: cover;
  height: 773px;
  color: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-height: 80px;   /* 80 hug */
  padding: 20px 0;
}

.logo {
  width: 100px;
  height: 34px;
}

.home span {
  padding: 0 16px;
  font-weight: 700;
}

.person {
  border: 1px solid white;
  background-color: white;
  font-size: 10px;
  padding: 5px 10px;
  border-radius: 25px;
  color: black;
}
main {
  
  display: flex;
  flex-direction: column;     
  justify-content: center;    
  align-items: center;        
  text-align: center;
  
}
.pure{
   opacity: 72%;
   font-size: 50px;
   font-weight: bold;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
.aw{
    color: aliceblue;
    font-size: 120px;
    font-weight: bold;
  line-height: 1; /* 1.5 ээс илүү = илүү уншигдаж амар */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.too{
font-size: 40px;
font-weight: bold;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




