* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.pageOne {
  background-image: url("img/HeroImage.png");
  background-size: cover;
  height: 773px;
  color: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-height: 80px;   /* 80 hug */
  padding: 20px 0;
}

.logo {
  width: 100px;
  height: 34px;
}

.home span {
  padding: 0 16px;
  font-weight: 700;
}

.person {
  border: 1px solid white;
  background-color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 14px;
  border-radius: 100%;
  color: black;
}
main {
  
  display: flex;
  flex-direction: column;     
  justify-content: center;    
  align-items: center;        
  text-align: center;
  
}
.pure{
   opacity: 72%;
   font-size: 80px;
   font-weight: bold;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
.aw{
    color: aliceblue;
    font-size: 250px;
    font-weight: bold;
  line-height: 1; 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.too{
font-size: 40px;
font-weight: bold;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mainTwo{
  background-image: url("/Zoltuya/tour/img/Location.png");
  display: flex;
  justify-content: center;    
  align-items: center;        
  text-align: center;
  background-size: cover;
  height: 500px;
   
}

  .photoOne img {
  width: 275.49px;
  height: 370px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 10px 10px 20px -10px #9DB8DA;
    margin-right: 40px;

}
.potoTwo img {

width: 275.49px;
  height: 370px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
  margin-right: 40px;
}
.photoThree img{
   height: 370px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
    margin-right: 40px;

}
.photoFour img{

 height: 370px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
 }
.mainTwo span {
  position: relative;     
}
.mainTwo img {
  width: 275.49px;
  height: 370px;
  border-radius: 20px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 0 0 3px rgb(131, 132, 135); 
}
.overlay {
  
  position: absolute;
  bottom: 200px;
  left: 40px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  z-index: 2;
  
  font-family:'Courier New', Courier, monospacegit push -u origin main

}
.baysaglan{
  position: absolute;
  bottom: 200px;
  left: 40px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  z-index: 2;
  font-family:'Courier New', Courier, monospacegit push -u origin main
}
.fade{
  opacity: 80%;
  font-weight: normal;
}
.q{
  opacity: 80%;
  font-weight: normal;
}
.huv{
  position: absolute;
  
  bottom: 200px;
  left: 40px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  z-index: 2;
  font-family:'Courier New', Courier, monospacegit push -u origin main
}
.w{
  opacity: 80%;
  font-weight: normal;

  
}
.horgo{
  position: absolute;
  bottom: 200px;
  left: 40px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  z-index: 2;
  font-family:'Courier New', Courier, monospacegit push -u origin main
}
.h{
  opacity: 80%;
  font-weight: normal;
}
.mainThree{
  background-image: url(/Zoltuya/tour/img/Roadmap\ image.png);
  background-size: contain;
 width: 100%;
 height: 773px;
}
.pgTwo{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  
}
.dest{
font-size: 40px; 
font-weight: bold;

}
.Pack{
  font-size: small;
  opacity: 70%;
}
.section{
 
  display: flex;
  flex-direction: column;
  gap: 8px;
  
  
}
.fristWord{
  font-size: x-large;
  font-weight: bold;
  
 

}

.icon{
  width: 14px;
  height: 14ppx;
}
.Day1{
   display: flex;
  
  justify-content: space-between;
  align-items: center;
  background-color: #EEE9D9;
  width: 400px;
  padding: 25px;
  margin:  70px;
  margin-right: 15px;
  border-radius: 50px;
}
.one{
  display: flex;
  flex-direction: column;
  
}
.DAY{
  width: 56px;
  height: 56px;
  background: white;
  border-radius: 50%;
  display: flex;
align-items: center;
justify-content: center;
}
.Day2{
   display: flex;
    margin-top: 8px;

  justify-content: space-between;
  align-items: center;
  background-color: #EEE9D9;
  width: 400px;
  padding: 25px;
  margin:  70px;
  margin-right: 15px;
  border-radius: 50px;
}
