* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.pageOne {
  background-image: url("img/HeroImage.png");
  background-size: cover;
  height: 773px;
  color: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-height: 80px;   /* 80 hug */
  padding: 20px 0;
}

.logo {
  width: 100px;
  height: 34px;
}

.home span {
  padding: 0 16px;
  font-weight: 700;
}

.person {
  border: 1px solid white;
  background-color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 14px;
  border-radius: 100%;
  color: black;
}
main {
  
  display: flex;
  flex-direction: column;     
  justify-content: center;    
  align-items: center;        
  text-align: center;
  
}
.pure{
   opacity: 72%;
   font-size: 80px;
   font-weight: bold;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
.aw{
    color: aliceblue;
    font-size: 250px;
    font-weight: bold;
  line-height: 1; 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.too{
font-size: 40px;
font-weight: bold;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mainTwo{
  background-image: url("/Zoltuya/tour/img/Price&Footer\ image.png");
  flex-direction: column;     
  justify-content: center;    
  align-items: center;        
  text-align: center;
  background-size: cover;
  height: 500px;
   
}

  .photoOne img {
  width: 275.49px;
  height: 370px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}
.potoTwo img {

width: 275.49px;
  height: 370px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}
.photoThree img{
   height: 370px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}
.photoFour img{

 height: 370px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
 }
.mainTwo span {
  position: relative;     /* overlay-г барих суурь */
}
.mainTwo img {
  width: 275.49px;
  height: 370px;
  border-radius: 20px;
  object-fit: cover;
}
.overlay {
  position: absolute;
  bottom: 200px;
  left: 40px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  z-index: 2;
  font-family:'Courier New', Courier, monospacegit push -u origin main

}


