.container {
  background-image: url("./image/HeroImage.svg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 773px;
  position: relative;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  gap: 50px;
}

.menu span {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.logo img {
  height: 40px;
  width: auto;
}

.right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.language {
  width: 36px;
  height: 36px;
  background: white;
  color: #000;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  color: white;
}

.subtitle {
  font-size: 58px;
  letter-spacing: 4px;
  opacity: 0.7;
  margin-bottom: 10px;
}

.title {
  font-size: 126px;
  font-weight: 800;
  line-height: 1;
  margin: 0;
}

.year {
  margin-top: 20px;
  font-size: 52px;
  font-weight: 600;
}

.location {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 50px 0;
  background-image: url(./image/Location\ image.svg);
  background-size: cover;
  background-position: center;
}

.location .photo {
  position: relative;
  height: 370px;
}

.location .photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  border: 3px solid rgb(131, 132, 135);
}

.photo-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  pointer-events: none;
}

.map {
  position: relative;
  justify-content: center;
  align-items: flex-start;
  height: 1022px;
  background-image: url(./image/Roadmap\ image.svg);
  background-size: cover;
  background-position: center;
}

.maptext {
  position: absolute;
  top: 90px;
  left: 36%;
  text-align: center;
}

.mapday {
  position: absolute;
  top: 260px;
  left: 80px;

  display: flex;
  flex-direction: column;
  gap: 22px;
}

.day1 {
  width: 460px;
  padding: 10px 32px;
  background: #f4efe3;
  border-radius: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.day2 {
  width: 460px;
  padding: 10px 32px;
  background: #8BB8C1CC;
  border-radius: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.day3 {
  width: 460px;
  padding: 10px 32px;
  background: #AAD8D7CC;
  border-radius: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.day4 {
  width: 460px;
  padding: 10px 32px;
  background: #8BC0BDCC;
  border-radius: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.day5 {
  width: 460px;
  padding: 10px 32px;
  background: #97CCE0CC;
  border-radius: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.day-left {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.day-text {
  font-size: 22px;
  font-weight: 700;
}

.location-text {
  display: flex;
  align-items: center;
  gap: 6px;

  font-size: 14px;
  color: #555;
}

.location-text img {
  width: 14px;
  height: 14px;
}

.day-circle {
  width: 56px;
  height: 56px;
  background: white;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  font-weight: 700;
}

.map-image {
  position: absolute;
  left: 1000px;
  top: 300px;
}

.mapimage img {
  width: 34px;
  height: 34px;
}

.map-image1 {
  position: absolute;
  left: 800px;
  top: 450px;
}

.map-image2 {
  position: absolute;
  left: 1200px;
  top: 450px;
}

.map-image3 {
  position: absolute;
  left: 1000px;
  top: 670px;
}

.page {
  position: relative;
  justify-content: center;
  align-items: flex-start;
  height: 1120px;
  background-image: url(./image/Price&Footer\ image.svg);
  background-size: cover;
  background-position: center;
}

.footer-text {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0%;
}
.footer-text h1{
  margin-bottom: 0;
}
.footer-text p{
  margin-bottom: 80px;
}
.pricing {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card {
  width: 320px;
  background: white;
  padding: 30px;
  border-radius: 30px;
  text-align: left;

  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}
.card-header {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.card-header img {
  width: 36px;
  height: 36px;
}
.card h1 {
  font-size: 40px;
  margin: 10px 0;
}

.card span {
  color: #777;
  font-size: 14px;
}

.card h3 {
  position: relative;
  left: 20px;
  margin-top: 25px;
  font-size: 24px;
}
.card ul {
  list-style: none;
  padding: 0;
}

.card li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.card li img {
  width: 16px;
  height: 16px;
}

.card button {
  margin-top: 20px;
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 20px;
  background: #A4D1E2;
  color: black;
  font-weight: 600;
  cursor: pointer;
}

.popular {
  background: #e6f1f3;
  transform: scale(1.05);
}

.footer2 {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 90%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 40px 80px;
}
.social-card {
  display: flex;
  align-items: center;
  gap: 12px;

  background: white;
  padding: 10px 22px;
  border-radius: 30px;

  width: auto;
  height: auto;

  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.social-card img {
  width: 24px;
  height: 24px;
}

.social-card p {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  color: #6972B5;
}
.socials {
  display: flex;
  gap: 16px;
}
.footerlogo img {
  width: 120px;
  height: auto;
}
