.container {
  background-image: url("./image/HeroImage.svg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 773px;
  position: relative;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 33px 118px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu {
  display: flex;
  gap: 24px;
}

.menu span {
  color: white;
  width: 100px;
  height: 22px;
  gap: 10px;
  cursor: pointer;
  font-size: 18px;
}
.logo img {
    height: 34px;
    width: 100px;
}
.right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.language {
  width: 40px;
  height: 40px;
  background: white;
  color: #000;
  border-radius: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  color: white;
}
.subtitle {
  font-size: 60px;
  letter-spacing: 0px;
  opacity: 0.7;
  margin-bottom: 10px;
}

.title {
  font-size: 150px;
  line-height: 1;
  margin: 0;
}

.year {
  margin-top: 20px;
  font-size: 52px;
  font-weight: 600;
}

