* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  width: 100%;
  margin: auto;
  font-family: Arial, sans-serif;
  background-image: url("gallery/HeroImage.png");
  background-size: cover;
  height: 850px;
}
header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 118px;
  width: 100%;
}
header img {
  height: 34px;
}
.home {
  display: flex;
  gap: 24px;
  color: white;
}
.homeheader {
  gap: 24px;
  color: white;
}
.home span {
  font-size: 18px;
  cursor: pointer;
  font-weight: 6000;
  line-height: 19px;
}
.home img {
  height: 20px;
  width: 20px;
}
.language {
  background-color: white;
  border-radius: 100%;
  padding: 14px;
}
.language span {
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
}
.main-content {
  text-align: center;
  color: white;
  padding-top: 169px;
}
.main-content p:first-child {
  opacity: 80%;
  font-size: 80px;
}
.main-content p {
  font-size: 250px;
}
.main-content p:last-child {
  font-size: 64px;
  opacity: 80%;
}
.section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  width: 100%;
  height: 512px;
  background-image: url("gallery/Location.png");
  background-size: cover;
  padding: 80px 118px;
  gap: 40px;
}
.section .cart {
  display: flex;
}
.cart {
  position: relative;
  width: 275px;
  height: 370px;
}
.cart img {
  border-radius: 10%;
  box-shadow: 100%;
  box-shadow: darkblue;
}
.section .cart span {
  color: rgb(253, 255, 254);
  position: absolute;
  font-size: 20px;
  font-weight: bolder;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  opacity: 100%;
}
.map {
  background-image: url("gallery/Roadmap\ image.png");
  background-size: cover;
  height: 950px;
}
.maptitle {
  display: block;
  text-align: center;
}
.maptitle p {
  font-size: 42px;
  font-weight: bold;
  padding-top: 160px;
}
.maptitle span {
  opacity: 70%;
}
.left-container {
  display: flex;
  flex-direction: column;
  padding: 50px 120px;
  gap: 20px ;
}
.container1 {
  height: 112px;
  width: 513px;
  background-color: wheat;
  border-radius: 60px;
  text-align: center;
  display:flex ;
  justify-content: space-between;
  padding: 32px 32px;
}
.day1 {
  display: block;
}
.day1 p{
    font-size: 24px;
}
.day11 {
  font-size: 14px;
  font-weight: 600;
  line-height: 15px;
  background-color: white;
  border-radius: 100%;
  width: 56px;
  height: 56px;
  align-content: center;
}
.day1 span img{
    width: 14px;
    height: 14px;
}
.day1 span{
    font-size: 14px;
    display: flex;
    
}
footer {
  background-color: aqua;
  margin-top: 1000px;
}
