*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
}
.container{
    width: 100%;
    margin: auto;
    font-family: Arial, sans-serif;
    background-image: url("gallery/HeroImage.png");
    background-size: cover;
    height: 773px;
}
header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 118px;
    width: 100%;
}
header img{
    height: 34px;
}
.home{
    display: flex;
    gap: 24px;
    color: white;
    
}
.homeheader{
    gap: 24px;
    color: white;
}
.home span{
    font-size: 18px;
    cursor: pointer;
    font-weight: 6000;
    line-height: 19px;
}
.home img {
    height: 20px;
    width: 20px;
}
.language{
    background-color: white;
    border-radius: 100%;
    padding: 14px;
}
.language span{
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
}
.main-content {
    text-align: center;
    color: white;
    top: 170px;
}
.main-content p:first-child{
    opacity: 80%;
    font-size: 80px;
}
.main-content p{
    font-size: 250px;
}
.main-content p:last-child{
    font-size: 64px;
    opacity: 80%;
}
.section{
    display: flex;
    bottom: auto;
    width: 100%;
    margin: auto;
    height: 512px;
    background-image: url("gallery/Location.png");
    background-size: cover;
    gap: 40px;
    padding: 80px 118px;
}
.section .carts{
    display: flex;
    gap: 40px;
    align-items: center;
}
.carts .TERKHIIN p {
    position: absolute;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.carts img {
width: 275px;
height: 370px;
}
footer{
    background-color: aqua;
    margin-top: 1000px;
}